.page{

   -webkit-print-color-adjust: exact;
   margin: 5px 5px;
   padding-left: 50px;
   padding-right: 50px;
   width:815px;
   height:1055px;
   background-color:white;
   box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
   float:left;
   .tab{
      width: 215px;
      background-color: #354b5e;
      color:white;
      padding:25px 0px 5px 10px;


      h1{
         font-style: normal;
         font-variant: normal;
         line-height: 26.4px;

         text-transform: uppercase;
         font-family: 'Helvetica Neue LT Std', sans-serif;
         font-size: 17px;
         font-weight: 500;
         font-stretch: condensed;
         margin: 0px;

      }
   }
   .pageheader{
      width: 100%;
      color: rgba(0,0,0,0.7);
      padding: 25px 0px 5px 0px;
      h1{

         font-size: 24px;
         font-style: normal;
         font-variant: normal;
         font-weight: bold;
         line-height: 26.4px;
         margin: 0px;
         text-transform: uppercase;
         font-style: normal;
         font-variant: normal;
         line-height: 26.4px;
         margin: 0px;
         text-transform: uppercase;
         font-family: 'Helvetica Neue LT Std', sans-serif;
         font-size: 20.4px;
         font-weight: 500;
         font-stretch: condensed;
      }
   }
   .specblock{
      img{
         border: 1px solid rgba(0, 0, 0, 0.3)
      }
      input.spec{
         width:100%;
         border:none;
      }
      .spec{
         display: block;
         font-family: 'Helvetica Neue LT Std', sans-serif;
         font-style: normal;
         font-variant: normal;
         font-weight:400;
         font-stretch: condensed;
         color: black;

      }
   }
   .body{
      p.body{
         font-size:12px;
         line-height: 20px;
         font-family: "Minion Pro";
         color:black;
         text-align: justify;
         max-height: 280px;
         overflow: scroll;
      }
      .title{
         display: block;
         font-family: 'Helvetica Neue LT Std', sans-serif;
         font-size: 34px;
         font-weight: 700;
         font-stretch: condensed;
         color: #354b5e;
         line-height: 35px;
      }
      .subtitle{
         display: block;
         font-family: 'Helvetica Neue LT Std', sans-serif;
         font-size: 24px;
         font-weight: 500;
         font-stretch: condensed;
         color: #808080;
         line-height: 35px;
      }
      .author{
         display: block;
         font-family: "Minion Pro";
         font-size: 15px;
         line-height: 18px;
         font-weight: bold;
         margin-top: 7px;
         font-style: oblique;
         margin-bottom: 7px;
      }
   }

   &.left-page{
      .row.cat-page-header{
         .col-xs-4{
            float: left;
         }
         .col-xs-8{
            float: right;
         }
      }
      .row.cat-page-oneper{
         .col-xs-4{
            float: left;
         }
         .col-xs-8{
            float: right;
         }
      }
   }
   &.right-page{
      .row.cat-page-header{
         .col-xs-4,.col-xs-3{
            float: right;
         }
         .col-xs-8,.col-xs-9{
            float: left;
         }
      }
      .row.cat-page-oneper,.row.cat-page-twoper{
         .col-xs-4,.col-xs-3{
            float: right;
         }
         .col-xs-8,.col-xs-9{
            float: left;
         }
      }
   }
}
.col-xs-8{
   >div.body{
      max-height: 880px;
      height: auto;      
   }
}


.cat-page-oneper{
   .spec{
      font-size: 16px;
      line-height: 21px;
   }
}
.cat-page-twoper{
   .spec{
      font-size: 12px;
      line-height: 14px;
   }
}
.cat-page-threeper{
   .spec{
      font-size: 12px;
      line-height: 14px;
      text-align: right;
   }
}

input.ghost,textarea.ghost{
   color:inherit;
   font-family: inherit;
   font-size: inherit;
   font-stretch:  inherit;
   font-style: inherit;
   background-color: inherit;
   border: inherit;
   line-height: inherit;
   font-variant: inherit;
   font-weight: inherit;
   width:100%;
   text-align: inherit;
   border: solid 1px rgba(0, 0, 0, 0.1);
   &:focus,&:active,&:visited{
      border:solid 1px rgba(0,255,162,0.2);   
   }
}

.ShowOnScreen{
   display: block !important;
}
.ShowOnPrint{
   display: none !important;
}
@media screen {
   #printSection {
      display: none;
   }
   .ShowOnScreen{
      display: block !important;
   } 
   .ShowOnPrint{
      display: none !important;
   }
}
@media print {
   .ShowOnScreen{
      display: none !important;
   }
   .ghost{

   }
   .ShowOnPrint{
      display: block !important;
   }
   body * {
      visibility:hidden;
   }
   #printSection, #printSection * {
      visibility:visible;
   }
   .page{
      margin:0px  !important;
      padding-left: 0px  !important;
      padding-right: 0px  !important;
      width:100%  !important;
      height: auto  !important;
      background-color:white;
      box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
      float:none  !important;
      page-break-inside: avoid  !important;
      page-break-after: always  !important;
      .pageheader{
         padding:0px;
         margin:0px;
      }

      .tab{
         color:white !important;
         width: 100% !important;
         padding-top: 25px !important;
         padding-bottom: 5px !important;
         background-color: #354b5e  !important;
         h1{
            &.ShowOnPrint{

            }
            font-size:17px  !important;
            color:white !important;

            input.ghost{
               color:white !important;
            }
         }
      }
   }

}